<header>
    <a href="index.html"><img src="assets/logo.png" alt="logo la Nîmes'alerie" class="absolute" id="Logo"></a>
    <div id="InfoBar">
        <div class="reduce">
            <div class="tiers">
                <img src="assets/ico/Livraison blanc 1.png" alt="" >
                <span> rapide 24H</span>
            </div>
            <div class="tiers flex-center">
                <img src="assets/ico/rembourser blanc 1.png" alt="">
                <span>Remboursement sous 30 jours</span>
            </div>
            <div class="tiers flex-right">
                <img src="assets/ico/securite blanc 1.png" alt="">
                <span>Paiement sécurisé</span>
                <img src="assets/ico/logos paiement.png" alt="logos visa et paypal">
            </div>
        </div>
    </div>
    <div id="Navbar">
        <div class="reduce InBl">
            <nav>
                <ul>
                    <li><a href="food.html">Alimentation</a>
                        <div id="sousmenu">
                            <div>
                                <img src="assets/deco/barre-alim.png" alt="">
                            </div>
                            <div id="ss-menu-items">
                                <div class="itemscolumn tiers">
                                    <a href="" >Croquettes chien<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="" >Croquettes chat <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="" >patées <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                </div>
                                <div class="itemscolumn tiers">
                                    <a href="">Friandises <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Insectes vivants<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Foin & granulés <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                </div>
                                <div class="itemscolumn tiers">
                                    <a href="">Graines & épis <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Aliments poissons<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Aliments reptiles <br> <img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="Accessories.html">Accessoires</a>
                        <div id="sousmenu">
                            <div>
                                <img src="assets/deco/barre-access.png" alt="">
                            </div>
                            <div id="ss-menu-items">
                                <div class="itemscolumn tiers">
                                    <a href="" >Jouets <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="" >Colliers & laisses<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="" >Vêtements <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                </div>
                                <div class="itemscolumn tiers">
                                    <a href="">Dressage <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Transport <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Soins & hygiène <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                </div>
                                <div class="itemscolumn tiers">
                                    <a href="">Oisellerie <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Aquariophilie <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Terrariophilie <br> <img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="Services.html">Services</a>
                        <div id="sousmenu">
                            <div>
                                <img src="assets/deco/barre-services.png" alt="">
                            </div>
                            <div id="ss-menu-items">
                                <div class="itemscolumn tiers">
                                    <a href="" >Programme spatial<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="" >Toilettage<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="" >Garde à domicile<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                </div>
                                <div class="itemscolumn tiers">
                                    <a href="">Pet-sitter<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Dressage<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Traiteur<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                </div>
                                <div class="itemscolumn tiers">
                                    <a href="">Taxi animalier<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Scéance photo<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Sous Catégorie<br> <img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="Advices.html">Conseils</a>
                        <div id="sousmenu">
                            <div>
                                <img src="assets/deco/barre-conseils.png" alt="">
                            </div>
                            <div id="ss-menu-items">
                                <div class="itemscolumn tiers">
                                    <a href="" >Quelle Nutrition<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="" >Choisir un chien<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="" >Vaccination<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                </div>
                                <div class="itemscolumn tiers">
                                    <a href="">Soins courants<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Puce électronique<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">Chien ou chat?<br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                </div>
                                <div class="itemscolumn tiers">
                                    <a href="">aaaa <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">bbb <br><img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                    <a href="">FAQ<br> <img src="assets/deco/séparation-sous-menus.png" alt="ligne séparation"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="Contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
