<div id="slider">
    <div class="slide">
        <img src="assets/slider1.png" alt="Image d'un chien et d'un chat">
        <div>
            <p>Offrez-leur le meilleur</p>
            <p>Découvrez nos services 3.0</p>
            <a href="#" class="btn btn-gold">Mettez leur des étoiles dans les yeux</a>
        </div>
    </div>
    <div class="slide">
        <img src="assets/slider1.png" alt="Image d'un chien et d'un chat">
        <div>
            <p>Offrez-leur le meilleur</p>
            <p>Découvrez nos services 3.0</p>
            <a href="#" class="btn btn-gold">Mettez leur des étoiles dans les yeux</a>
        </div>
    </div>
    <div class="slide">
        <img src="assets/Slider2.png" alt="Image d'une fusée dans l'espace">
        <div>
            <p>Notre programme EXCLUSIF</p>
            <p>Envoyez votre compagnon dans l'espace</p>
            <p>En partenariat avec la NASA</p>
            <a href="#" class="btn btn-gold">Décollage</a>
        </div>
    </div>
</div>
